$theme-colors: (
  "primary": #28536B,
  "danger": #C96480,
  "success": #9ABD97,
  "light": #FEFFFE,
  "info": #7180AC
);

@import 'bootstrap/scss/bootstrap.scss';

html, body {
  max-width: 100%;
  overflow-x: auto;
}
