$theme-colors: (
  "primary": #3E78B2,
  "danger": #C91C4D,
  "success": #53BC49,
  "light": #FEFFFE,
  "dark": #081321,
  "info": #233D4D
);

@import 'bootstrap/scss/bootstrap.scss';

html, body {
  max-width: 100%;
  overflow-x: auto;
}
